<div class='loader'>
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
    
<div class='content'>

    <div [class.processing]='!isStored' class='menu' *ngIf='status === "completed"'>

        <h1 *ngIf='language == "english"'>{{completedMessage.english}}</h1>
        <h1 *ngIf='language == "german"'>{{completedMessage.german}}</h1>
        <h2 *ngIf='!isStored && language == "english"'>{{waitMessage.english}}</h2>
        <h2 *ngIf='!isStored && language == "german"'>{{waitMessage.german}}</h2>
        
        <app-spinner *ngIf='!isStored'></app-spinner>
        
        <h2 *ngIf='isStored && readyForSurvey && language == "english"' (click)='progressToSurvey()' class='ready'>{{surveyMessage.english}}</h2>
        <h2 *ngIf='isStored && readyForSurvey && language == "german"' (click)='progressToSurvey()' class='ready'>{{surveyMessage.german}}</h2>
        <h2 *ngIf='isStored && !readyForSurvey && language == "english"' (click)='startNewLevel()' class='ready'>{{secondLevelMessage.english}}</h2>
        <h2 *ngIf='isStored && !readyForSurvey && language == "german"' (click)='startNewLevel()' class='ready'>{{secondLevelMessage.german}}</h2>
    
    </div>

    <div [class.processing]='!isStored' class='menu' *ngIf='status === "lost"'>
        
        <h1 *ngIf='language == "english"'>{{lostMessage.english}}</h1>
        <h1 *ngIf='language == "german"'>{{lostMessage.german}}</h1>
        <h2 *ngIf='!isStored && language == "english"'>{{waitMessage.english}}</h2>
        <h2 *ngIf='!isStored && language == "german"'>{{waitMessage.german}}</h2>
        
        <app-spinner *ngIf='!isStored'></app-spinner>
        
        <h2 *ngIf='isStored && readyForSurvey && language == "english"' (click)='progressToSurvey()' class='ready'>{{surveyMessage.english}}</h2>
        <h2 *ngIf='isStored && readyForSurvey && language == "german"' (click)='progressToSurvey()' class='ready'>{{surveyMessage.german}}</h2>
        <h2 *ngIf='isStored && !readyForSurvey && language == "english"' (click)='startNewLevel()' class='ready'>{{secondLevelMessage.english}}</h2>
        <h2 *ngIf='isStored && !readyForSurvey && language == "german"' (click)='startNewLevel()' class='ready'>{{secondLevelMessage.german}}</h2>

    </div>

    <div *ngIf='status === "running"' class='ui'>

        <div class='ui-element ui-element-first'>
            <span class='element' *ngIf='language == "english"'>{{timeString.english}}</span>
            <span class='element' *ngIf='language == "german"'>{{timeString.german}}</span>
            <span class='element'>{{time}}</span>
        </div>

        <div class='ui-element ui-element-middle'>
            <span class='element' *ngIf='language == "english"'>{{scoreString.english}}</span>
            <span class='element' *ngIf='language == "german"'>{{scoreString.german}}</span>
            <span class='element'>{{score}}</span>
        </div>
        
        <div class='ui-element ui-element-last'>
            <span class='element' *ngIf='language == "english"'>{{livesString.english}}</span>
            <span class='element' *ngIf='language == "german"'>{{livesString.german}}</span>
            <span class='element'>{{lives}}</span>
        </div>

    </div>

    <canvas [style.display]="status === 'running' ? 'inherit' : 'none'" #canvas class='canvas' width="1500" height="1500"></canvas>

</div>

<div *ngIf='status == "running"' class='controls'>

    <div class='left-control-buttons'>
        <button class='control-button-left' mat-stroked-button (mousedown)='selectActiveKey(38)' (touchstart)='selectActiveKey(38)' (mouseup)='removeActiveKey(38)' (touchend)='removeActiveKey(38)'>  
            <mat-icon class='control-icon'>arrow_upward</mat-icon>
        </button>
        <button *ngIf='holdsPowerUp' class='control-button-left' mat-stroked-button (mousedown)='selectActiveKey(32)' (touchstart)='selectActiveKey(32)' (mouseup)='removeActiveKey(32)' (touchend)='removeActiveKey(32)'>  
            <mat-icon class='control-icon ice-bullet'><img src='assets/ui/ice_bullet.png'></mat-icon>
        </button>
    </div>
    
    <div class='right-control-buttons'>
        <button class='control-button-left' mat-stroked-button (mousedown)='selectActiveKey(37)' (touchstart)='selectActiveKey(37)' (mouseup)='removeActiveKey(37)' (touchend)='removeActiveKey(37)'>  
            <mat-icon class='control-icon'>arrow_backward</mat-icon>
        </button>
        <button class='control-button-right' mat-stroked-button (mousedown)='selectActiveKey(39)' (touchstart)='selectActiveKey(39)' (mouseup)='removeActiveKey(39)' (touchend)='removeActiveKey(39)'>  
            <mat-icon class='control-icon'>arrow_forward</mat-icon>
        </button>
  
    </div>
</div>
        
        