service cloud.firestore {
  match /databases/{database}/documents {


    function checkForValidUserKey() {
      return request.resource.data.key[0:4] == 'user';
    }

    function checkForValidTutorial() {
      return request.resource.data.key[0:7] == 'tutorial';
    }

    function checkForValidLevel() {
      return request.resource.data.key[0:4] == 'level';
    }
    
    match /users/{document=**} {
      allow read;
      allow write;
    }

    match /tutorials/{document=**} {
      allow read;
      allow write: if checkForValidTutorial();
    }

    match /performances/{document=**} {
      allow read;
      allow write;
    }

    match /levels/{document=**} {
      allow read;
      allow write;
    }

    match /level_prototypes/{document=**} {
      allow read;
      allow write;
    }
  }
  
}
