.spacer{

	flex: 1 1 auto;

}

mat-toolbar {

	border-bottom: 0.5px solid rgb(255, 255, 255);

}	

span {

	font-family: 'Roboto', sans-serif;
	color: rgb(128, 128, 128);
    font-weight: 300;

}


@media (min-width: 600px) {

	.mobile-menu {

		display: none;

	}

}

@media (max-width: 600px) {

	.desktop-menu {

		display: none;

	}

}

.title {

	font-size: 24px;
	color: rgb(50, 50, 50);
	font-weight: 300;

}

.user {

	width: 72px;

}

.mat-icon {

	color: rgb(80, 80, 80);

}

.mat-toolbar {

	border-bottom: 0.5px solid rgb(240, 240, 240)

}

button {

	margin-right: 0;

}