<div class='content'>

  <p class='question' *ngIf='language == "english"'>{{question.english}}</p>
  <p class='question' *ngIf='language == "german" '>{{question.german}}</p>

  <form class="form" *ngIf='language == "english"'>
    <mat-form-field class="full-width">
        <input type="text" placeholder='' aria-label="Gender" matInput [formControl]="genderControl" [matAutocomplete]="gender">
        <mat-autocomplete #gender="matAutocomplete">
        <mat-option *ngFor="let gender of filteredGenderOptionsEnglish | async" [value]="gender">
            {{gender}}
        </mat-option>
        </mat-autocomplete>
    </mat-form-field>
  </form> 

  <form class="form" *ngIf='language == "german"'>
    <mat-form-field class="full-width">
        <input type="text" placeholder='' aria-label="Gender" matInput [formControl]="genderControl" [matAutocomplete]="gender">
        <mat-autocomplete #gender="matAutocomplete">
        <mat-option *ngFor="let gender of filteredGenderOptionsGerman | async" [value]="gender">
            {{gender}}
        </mat-option>
        </mat-autocomplete>
    </mat-form-field>
  </form> 
  
  
  <button *ngIf='answer == undefined && language == "english"' mat-stroked-button (click)='continue()' class='disabled' disabled>{{button.english}}</button>
  <button *ngIf='answer != undefined && language == "english"' mat-stroked-button (click)='continue()'>{{button.english}}</button>
  <button *ngIf='answer == undefined && language == "german" ' mat-stroked-button (click)='continue()' class='disabled' disabled>{{button.german}}</button>
  <button *ngIf='answer != undefined && language == "german" ' mat-stroked-button (click)='continue()'>{{button.german}}</button>

</div>