<div class='content'>

    <div class="container"> 
    
        <div class='menu' *ngIf='status === "ready"'>
            <h1 (click)="startNewLevel()">Start Level</h1>
        </div>

        <div class='menu' *ngIf='status === "lost"'>
        
            <h1>Thank you for having played the level.</h1>
            <app-spinner *ngIf='isStored != true'></app-spinner>
            <h2 *ngIf='isStored === true && !readyForSurvey' (click)='startNewLevel()'>Try another one!</h2>
            <h2 *ngIf='isStored === true && readyForSurvey' (click)='progressToSurvey()'>Please continue to the survey</h2>
        
        </div>

        <div class='menu' *ngIf='status === "completed"'>
        
            <h1>Level Completed!</h1>
            <app-spinner *ngIf='isStored != true'></app-spinner>
            <h2 *ngIf='isStored && !readyForSurvey' (click)='startNewLevel()'>Progress to the next Level</h2>
            <h2 *ngIf='isStored && readyForSurvey' (click)='progressToSurvey()'>Please continue the survey.</h2>
        
        </div>

        <div *ngIf='status === "running"' class='ui'>

            <div class='ui-element'>
                <span class='mario'>Time: </span>
                <span class='mario'>{{time}}</span>
            </div>

            <div class='ui-element'>
                <span class='mario'>Score: </span>
                <span class='mario'>{{score}}</span>
            </div>
            
            <div class='ui-element'>
                <span class='mario'>Lives: </span>
                <span class='mario'>{{lives}}</span>
            </div>

        </div>
    </div>

    <div class='center'>
        <canvas [style.visibility]="status === 'running' ? 'visible' : 'hidden'" #canvas class='canvas' width="1000" height="1000"></canvas>
    </div>

</div>
