<div class='background'>

<!-- Center the page -->
<div id="page-wrap"> 
    <!-- START MENU -->
    <div id="start">

        <h1 (click)="startLevel()">Start Level</h1>

    </div>

        <!-- HUD -->
    <div id="hud">
        <div style="position: absolute; left: 50px; top: 20px; width:200px; height:100px;  color: white; font-family: Mario">
            <p>score
            <span id="score" style="font-family: Arcade; font-size: 25px;"></span>
        </div>
        <div style="position: absolute; z-index: 1; left: 175px; top: 20px; width:100px; height:20px; color: white; font-family: Mario">
            <p>lives
            <span id="lives" style="font-family: Arcade; font-size: 25px;"></span>
        </div>
        <div style="position: absolute; z-index: 1; left: 285px; top: 20px; width:100px; height:20px; color: white; font-family: Mario">
            <p>world
            <span id="worldLevel" style="font-family: Arcade; font-size: 25px;"></span>
        </div>
        <div style="position: absolute; z-index: 1; left: 400px; top: 20px; width:100px; height:20px; color: white; font-family: Mario">
            <p>time
            <span id="time" style="font-family: Arcade; font-size: 25px;"></span>
        </div>
    </div>


    <div id="gg">
        <h1>Level hasn't been cleared.</h1>
        <h2 *ngIf='isStored === true'>Progress to the next Level</h2>
    </div>

    <div id="done">
        <h1>Level Completed!</h1>
        <h2 *ngIf='isStored === true'>Progress to the next Level</h2>
    </div>

</div>

<div class='center'>
    <canvas #canvas class='canvas' width="1000" height="1000">Oops ... your browser doesn't support the HTML5 canvas element</canvas>
</div>


</div>
