@font-face { font-family: Mario; src: url('/assets/fonts/SuperMario256.ttf'); }
@font-face { font-family: Arcade; src: url('/assets/fonts/ArcadeClassic.ttf'); }

.background {

    height: 100%;
    width: 100%;
    background-image: url("../../../assets/Images/Mario/background.png");
    position: absolute;
}

.container {

    margin-top: 50px;
    position:relative; 
    margin: 0px auto; 
    width:512px

}

.menu {

    margin-top: 50px;
    width: 512px;
    height: 512px;
    border-radius: 10px;
    background-image: url('/assets/background.png'); 
}

.center {

    width: 512px;
    margin: auto;

}

.canvas {

    margin-top: 50px;
    width: 512px;
    border-radius: 10px;
    background-image: url('/assets/background.png'); 

}



h1 {
    padding-top: 200px; 
    color: white; 
    font-family: Mario; 
    font-size: 30px;
    text-align: center;
    cursor: pointer; 
}


h2 {
    
    cursor: pointer; 
    color: white; 
    margin-top: 50px; 
    font-family: Mario; 
    font-size: 20px;
    text-align: center;

}

.ui {

    font-family: Mario;
    position: absolute;
    z-index: 1; 
    width:500px; 
    height:20px; 
    color: white; 

}

.ui-element {

    margin-top: 60px;
    margin-left: 10px;
    width:156px; 
    float:left;
    text-align: center;
}

.mario {

    font-family: Mario;
    font-size: 20px;

}