<div class='background'>

<div class='content' *ngIf='getStatus() != "running"'>
  
  <h1>Introduction Online Experiment</h1>

  <p>
    Ajusting the difficutly to a dirrent playing styles poses an important challenge in designing video games. 
    The experiment consists of a Jump-and-Run game similar to Super Mario Bros and a short questionare after every level.
    Please feel free to play as many levels as you want and answer a small questionare attached after finshing a level.  
  </p>

  <h2>The Game</h2>
  <p>The goal of each level is to reach its end as quickly as possible while trying to collect as many coins as possible.
    
  </p>
  
  <h2>Controls</h2>
  <p>To control your avatar, use the following keys:</p>

  <div class='container'>
    <mat-icon>arrow_forward</mat-icon>
    <div class='description'>Right arrow Key: Move to the right</div>
  </div>
  <div class='container'>
      <mat-icon>arrow_backward</mat-icon>
      <div class='description'>Left arrow key: Move to the left</div>
  </div>
  <div class='container'>
    <mat-icon>arrow_upward</mat-icon>
    <div class='description'>Up Key: Jump</div>
  </div>
  <div class='container'>
    <mat-icon>space_bar</mat-icon>
    <div class='description'>Space: Shoot a fireball (only available after collecting fireball-power-up)</div>
  </div>

  <button mat-raised-button color="primary" (click)='startExperiment()'>Start Experiment</button>

</div>

</div>

<app-mario *ngIf='getStatus() === "running"'></app-mario>
