.background {

    height: 100%;
    width: 100%;
    background-image: url("../../../assets/Images/Mario/background.png");
    position: absolute;
}

.content {


    background: rgba(255, 255, 255, 0.8);
    width: 800px;
    margin: auto;
    margin-top: 50px;
    padding: 30px;
    color: rgb(58, 53, 53);
    border-radius: 2px;

}

mat-icon {

    border: 1px solid rgb(150, 150, 150);
    border-radius: 10%;

}

h1 {

    font-weight: 400;
}

h2 {

    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 400;

}


.description {

    height: 50px;
    margin-top: -25px !important;
    margin-left: 30px !important;

}

.container {

    margin-top: 10px;
    height: 20px;

}

button {

    margin-top: 30px;

}