<div class='content'>
  
  <div *ngIf='status === "lost"'>

      <h1>Thank you for having played the level.</h1>
      <!-- <app-spinner *ngIf='isStored != true'></app-spinner> -->
      <button mat-stroked-button *ngIf='isStored && !readyForSurvey' (click)="startNewLevel()">Try another one!</button>
      <button mat-stroked-button *ngIf='isStored && readyForSurvey' (click)="progressToSurvey()">Please continue to the survey</button>

  </div>

  <div  *ngIf='status === "completed"'>
  
      <h1>Level Completed!</h1>
      <!-- <app-spinner *ngIf='isStored != true'></app-spinner> -->
      <button mat-stroked-button *ngIf='isStored && !readyForSurvey' (click)='startNewLevel()'>Progress to the next Level</button>
      <button mat-stroked-button *ngIf='isStored && readyForSurvey' (click)='progressToSurvey()'>Please continue the survey.</button>
  
  </div>

</div>
