<div class='instructions'>

    <div class='check_box'>
        <mat-icon *ngIf='!coinCollected && !reachedFinishLine' class='mat-icon'>check_box_outline_blank</mat-icon>
        <mat-icon *ngIf='coinCollected && !reachedFinishLine' class='icon-completed'>check_box</mat-icon>
    </div>
    <div class='task'>
        <p *ngIf='!coinCollected && !reachedFinishLine && language == "english"' class='instruction'>{{tutorialMessage0.english}}</p>
        <p *ngIf='!coinCollected && !reachedFinishLine && language == "german"' class='instruction'>{{tutorialMessage0.german}}</p>
        <p *ngIf='coinCollected && !reachedFinishLine && language == "english"' class='instruction-completed'>{{tutorialMessage0.english}}</p>
        <p *ngIf='coinCollected && !reachedFinishLine && language == "german"' class='instruction-completed'>{{tutorialMessage0.german}}</p>
    </div>

    
    <div class='check_box'>
        <mat-icon *ngIf='!powerUpCollected && coinCollected && !reachedFinishLine' class='mat-icon'>check_box_outline_blank</mat-icon>
        <mat-icon *ngIf='powerUpCollected && coinCollected && !reachedFinishLine' class='icon-completed' >check_box</mat-icon>
    </div>
    <div class='task'>
        <p *ngIf='!powerUpCollected && coinCollected && !reachedFinishLine && language == "english"' class='instruction'>{{tutorialMessage1.english}}</p>
        <p *ngIf='!powerUpCollected && coinCollected && !reachedFinishLine && language == "german"' class='instruction'>{{tutorialMessage1.german}}</p>
        <p *ngIf='powerUpCollected && coinCollected && !reachedFinishLine && language == "english"' class='instruction-completed'>{{tutorialMessage1.english}}</p>
        <p *ngIf='powerUpCollected && coinCollected && !reachedFinishLine && language == "german"' class='instruction-completed'>{{tutorialMessage1.german}}</p>
    </div>

    
    <div class='check_box'>
        <mat-icon *ngIf='!snowBallShot && powerUpCollected && coinCollected && !reachedFinishLine' class='mat-icon'>check_box_outline_blank</mat-icon>
        <mat-icon *ngIf='snowBallShot && powerUpCollected && coinCollected && !reachedFinishLine' class='icon-completed'>check_box</mat-icon>
    </div>
    <div class='task'>
        <p *ngIf='!snowBallShot && powerUpCollected && coinCollected && !reachedFinishLine && language == "english"' class='instruction' >{{tutorialMessage2.english}}</p>
        <p *ngIf='!snowBallShot && powerUpCollected && coinCollected && !reachedFinishLine && language == "german"' class='instruction' >{{tutorialMessage2.german}}</p>
        <p *ngIf='snowBallShot && powerUpCollected && coinCollected && !reachedFinishLine && language == "english"' class='instruction-completed'>{{tutorialMessage2.english}}</p>
        <p *ngIf='snowBallShot && powerUpCollected && coinCollected && !reachedFinishLine && language == "german"' class='instruction-completed'>{{tutorialMessage2.german}}</p>
    </div> 


    <div class='check_box'>
        <mat-icon *ngIf='(!walkerDefeated || !jumperDefeated || !flyerDefeated) && snowBallShot && !reachedFinishLine' class='mat-icon'>check_box_outline_blank</mat-icon>
        <mat-icon *ngIf='(walkerDefeated && jumperDefeated && flyerDefeated) && snowBallShot && !reachedFinishLine' class='icon-completed' >check_box</mat-icon>
    </div>
    <div class='task'>
        <p *ngIf='(!walkerDefeated || !jumperDefeated || !flyerDefeated) && snowBallShot && coinCollected && powerUpCollected && !reachedFinishLine && language == "english"' class='instruction'>{{tutorialMessage3.english}}</p>
        <p *ngIf='(!walkerDefeated || !jumperDefeated || !flyerDefeated) && snowBallShot && coinCollected && powerUpCollected && !reachedFinishLine && language == "german"' class='instruction'>{{tutorialMessage3.german}}</p>
        <p *ngIf='(walkerDefeated && jumperDefeated && flyerDefeated) && snowBallShot && coinCollected && powerUpCollected && !reachedFinishLine && language == "english"' class='instruction-completed'>{{tutorialMessage3.english}}</p>
        <p *ngIf='(walkerDefeated && jumperDefeated && flyerDefeated) && snowBallShot && coinCollected && powerUpCollected && !reachedFinishLine && language == "german"' class='instruction-completed'>{{tutorialMessage3.german}}</p>
    </div>


    <div class='check_box'>
        <mat-icon *ngIf='!reachedFinishLine && (walkerDefeated && jumperDefeated && flyerDefeated)' class='mat-icon'>check_box_outline_blank</mat-icon>
        <mat-icon *ngIf='reachedFinishLine && (walkerDefeated && jumperDefeated && flyerDefeated)' class='icon-completed-last'>check_box</mat-icon>
    </div>
    <div class='task'>
        <p *ngIf='!reachedFinishLine && (walkerDefeated && jumperDefeated && flyerDefeated) && snowBallShot && coinCollected && powerUpCollected && language == "english"' class='instruction'>{{tutorialMessage4.english}}</p>
        <p *ngIf='!reachedFinishLine && (walkerDefeated && jumperDefeated && flyerDefeated) && snowBallShot && coinCollected && powerUpCollected && language == "german"' class='instruction'>{{tutorialMessage4.german}}</p>
        <p *ngIf='reachedFinishLine && (walkerDefeated && jumperDefeated && flyerDefeated) && snowBallShot && coinCollected && powerUpCollected && language == "english"' class='instruction-completed-last'>{{tutorialMessage4.english}}</p>
        <p *ngIf='reachedFinishLine && (walkerDefeated && jumperDefeated && flyerDefeated) && snowBallShot && coinCollected && powerUpCollected && language == "german"' class='instruction-completed-last'>{{tutorialMessage4.german}}</p>
    </div>

</div>
 
<div class='content'>

    <div class='menu' *ngIf='status === "completed"'>

        <h1 *ngIf='language == "english"'>{{leaveMessage.english}}</h1>
        <h1 *ngIf='language == "german"'>{{leaveMessage.german}}</h1>
        <h2 *ngIf='language == "english"' (click)='progressToTheMainGame()' class='ready'>{{progressMessage.english}}</h2>
        <h2 *ngIf='language == "german"' (click)='progressToTheMainGame()' class='ready'>{{progressMessage.german}}</h2>

    </div>

    <div *ngIf='status === "running"' class='ui'>
    
        <div class='ui-element ui-element-first'>
            <span class='element' *ngIf='language == "english"'>{{timeString.english}}</span>
            <span class='element' *ngIf='language == "german"'>{{timeString.german}}</span>
            <span class='element'>{{time}}</span>
        </div>

        <div class='ui-element ui-element-middle'>
            <span class='element' *ngIf='language == "english"'>{{scoreString.english}}</span>
            <span class='element' *ngIf='language == "german"'>{{scoreString.german}}</span>
            <span class='element'>{{score}}</span>
        </div>
        
        <div class='ui-element ui-element-last'>
            <span class='element' *ngIf='language == "english"'>{{livesString.english}}</span>
            <span class='element' *ngIf='language == "german"'>{{livesString.german}}</span>
            <span class='element'>{{lives}}</span>
        </div>

    </div>

    <div class='canvas-container'>
        <canvas [style.display]="status === 'running' ? 'inherit' : 'none'" #canvas class='canvas' width="1500" height="1500"></canvas>
    </div>

</div>

<div *ngIf='status != "completed"'>

    <button class='control-button-left' mat-stroked-button (mousedown)='selectActiveKey(38)' (touchstart)='selectActiveKey(38)' (mouseup)='removeActiveKey(38)' (touchend)='removeActiveKey(38)'>  
        <mat-icon class='control-icon'>arrow_upward</mat-icon>
    </button>
    
    <button class='control-button-left' mat-stroked-button (mousedown)='selectActiveKey(32)' (touchstart)='selectActiveKey(32)' (mouseup)='removeActiveKey(32)' (touchend)='removeActiveKey(32)'>  
        <mat-icon class='control-icon'>space_bar</mat-icon>
    </button>
    
    <button class='control-button-right' mat-stroked-button (mousedown)='selectActiveKey(39)' (touchstart)='selectActiveKey(39)' (mouseup)='removeActiveKey(39)' (touchend)='removeActiveKey(39)'>  
        <mat-icon class='control-icon'>arrow_forward</mat-icon>
    </button>
    
    <button class='control-button-right' mat-stroked-button (mousedown)='selectActiveKey(37)' (touchstart)='selectActiveKey(37)' (mouseup)='removeActiveKey(37)' (touchend)='removeActiveKey(37)'>  
        <mat-icon class='control-icon'>arrow_backward</mat-icon>
    </button>

</div>



