<div class='instructions'>

    <h2 class='instruction' *ngIf='!coinCollected'>coinSubject</h2>
    <h2 class='instruction-completed' *ngIf='coinCollected'>coinSubject</h2>

    <h2 class='instruction' *ngIf='!powerUpCollected'>powerUpSubject</h2>
    <h2 class='instruction-completed' *ngIf='powerUpCollected'>powerUpSubject</h2>

    <h2 class='instruction' *ngIf='!walkerDefeated'>walkerSubject</h2>
    <h2 class='instruction-completed' *ngIf='walkerDefeated'>walkerSubject</h2>

    <h2 class='instruction' *ngIf='!jumperDefeated'>jumperSubject</h2>
    <h2 class='instruction-completed' *ngIf='jumperDefeated'>jumperSubject</h2>

    <h2 class='instruction' *ngIf='!flyerDefeated'>flyerSubject</h2>
    <h2 class='instruction-completed' *ngIf='flyerDefeated'>flyerSubject</h2>


</div>

<div class='content'>

    <div class='menu' *ngIf='status === "completed"'>

        <h1>Level Completed!</h1>
        <h2 *ngIf='!isStored'>Please wait a second ...</h2>
        <app-spinner *ngIf='isStored != true'></app-spinner>
        <h2 *ngIf='isStored && readyForSurvey' (click)='progressToSurvey()'>Please continue the survey.</h2>
        <h2 *ngIf='isStored && !readyForSurvey' (click)='startNewLevel()'>Progress to the next Level</h2>
    
    </div>

    <div class='menu' *ngIf='status === "lost"'>
    
        <h1>Thank you for having played the level</h1>
        <h2 class='notification' *ngIf='!isStored'>Please wait a second ...</h2>
        <app-spinner *ngIf='isStored != true'></app-spinner>
        <h2 *ngIf='isStored && readyForSurvey' (click)='progressToSurvey()'>Please continue to the survey</h2>
        <h2 *ngIf='isStored && !readyForSurvey' (click)='startNewLevel()'>Try another one!</h2>

    </div>


    <div *ngIf='status === "running"' class='ui'>

        <div class='first-ui-element'>
            <span class='mario'>Time: </span>
            <span class='mario'>{{time}}</span>
        </div>

        <div class='ui-element'>
            <span class='mario'>Score: </span>
            <span class='mario'>{{score}}</span>
        </div>
        
        <div class='final-ui-element'>
            <span class='mario'>Lives: </span>
            <span class='mario'>{{lives}}</span>
        </div>

    </div>

    <div class='center'>
        <canvas [style.visibility]="status === 'running' ? 'visible' : 'hidden'" #canvas class='canvas' width="1500" height="1500"></canvas>
    </div>

</div>
