<div class='content'>
    
    <div class='question'>
    
        <p>Please decide to what extent you would agree with the statement "The level of difficulty of the second level was appropriate".</p>

        <p class='option'>Strongly Agree</p>
        <p class='option'>Agree</p>
        <p class='option'>Neutral</p>
        <p class='option'>Disagree</p>
        <p class='option'>Strongly Disagree</p>

        <mat-divider></mat-divider>

        <mat-radio-group class="example-radio-group" [(ngModel)]="answer">
            <mat-radio-button class="example-radio-button" color='primary' *ngFor="let option of options" [value]="answer">
                
                <p class='option'>{{''}}</p>
                
            </mat-radio-button>
        </mat-radio-group>

        <button *ngIf='active === ""' mat-stroked-button (click)='continue()' disabled>Continue</button>
        <button *ngIf='active != ""'  mat-stroked-button (click)='continue()'>Continue</button>
    
    </div>
</div>
      