<div class='content'>
    
    <div class='question'>
    
        <p>
            Which of the two levels you have just played was more fun for you?
        </p>

        <div class='answer'>
            <button mat-stroked-button class='option' *ngIf='active != "First Level"' (click)='selectOption(rankOptions[0], rankOptions[1])'>{{rankOptions[0].option}}</button>
            <button mat-stroked-button class='option-active' *ngIf='active === "First Level"' (click)='selectOption(rankOptions[0], rankOptions[1])'>{{rankOptions[0].option}}</button>
        </div>

        <div class='second-answer'>
            <button mat-stroked-button class='option' *ngIf='active != "Second Level"' (click)='selectOption(rankOptions[1], rankOptions[0])'>{{rankOptions[1].option}}</button>
            <button mat-stroked-button class='option-active' *ngIf='active === "Second Level"' (click)='selectOption(rankOptions[1], rankOptions[0])'>{{rankOptions[1].option}}</button>
        </div>
        
    </div>

    <button *ngIf='active === ""' mat-stroked-button (click)='continue()' disabled>Continue</button>
    <button *ngIf='active != ""'  mat-stroked-button (click)='continue()'>Continue</button>

</div>
      