<div class='content'>
  
  <h1>Controls</h1>
  
  <p>
    Please use the following buttons to move your avatar.  
  </p>

  <div class='container-first'>
    <mat-icon>arrow_forward</mat-icon>
    <div class='description'>
      <p>
        Right arrow Key: Move right
      </p>
    </div>
  </div>

  <div class='container'>
      <mat-icon>arrow_backward</mat-icon>
      <div class='description'>
        <p>
          Left arrow key: Move left
        </p>
      </div>
  </div>

  <div class='container'>
    <mat-icon>arrow_upward</mat-icon>
    <div class='description'>
      <p>
        Up Key: Jump
      </p>
    </div>
  </div>

  <div class='container'>
    <mat-icon>space_bar</mat-icon>
    <div class='description-last'>
      <p>
        Space: Shoot snow balls (after collecting a power-up)
      </p>
    </div>
  </div>

  <button class='tutorial-button' mat-stroked-button (click)='switchToTutorial()'>Tutorial</button>
  <button class='proceed-button' mat-stroked-button (click)='proceed()'>Continue</button>
  
</div>

