<div class='content'>
  
  <h1>{{headline}}</h1>
  
  <p>{{text}}</p>

  <div class='container-first'>
    <mat-icon>arrow_forward</mat-icon>
    <div class='description'>
      <p>{{control_0}}</p>
    </div>
  </div>

  <div class='container'>
    <mat-icon>arrow_backward</mat-icon>
    <div class='description'>
      <p>{{control_1}}</p>
    </div>
  </div>

  <div class='container'>
    <mat-icon>arrow_upward</mat-icon>
    <div class='description'>
      <p>{{control_2}}</p>
    </div>
  </div>

  <div class='container'>
    <mat-icon>space_bar</mat-icon>
    <div class='description-last'>
        <p>{{control_3}}</p>
    </div>
  </div>

  <button class='proceed-button' mat-stroked-button (click)='proceed()'>{{button}}</button>
  <button class='tutorial-button' mat-stroked-button (click)='switchToTutorial()'>Tutorial</button>
  
</div>

