.content {

    width: 800px;
    margin: auto;
    margin-top: 30px;
    border: 1px solid rgb(200, 200, 200);
    padding: 30px;
    color: rgb(50, 50, 50);
    border-radius: 5px;

}

mat-icon {

    border: 1px solid rgb(150, 150, 150);
    border-radius: 10%;

}

h1 {

    font-weight: 400;
}

h2 {

    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 400;

}


.description {

    height: 50px;
    margin-top: -25px !important;
    margin-left: 30px !important;

}

.container {

    margin-top: 10px;
    height: 20px;

}

button {

    margin-top: 30px;

}